@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}

<header>
    <h1 class="leaderboard-heading">Leaderboard</h1>
</header>
<main>
    <section class="card">
        <h2>Scores</h2>
        <ol>
            @foreach (var score in Model.Scores)
            {
                <li>
                    <div class="score-item">
                        <div>
                            @score.Player
                        </div>
                        <div>
                            @score.Points
                        </div>
                    </div>
                </li>
            }
        </ol>
    </section>

    <section class="card">
        <h2>Latest comments</h2>
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li class="comment-item">
                    <h6>@comment.Player</h6> 
                    <div>@comment.Text</div>
                </li>
            }
        </ul>
        <form action="/Leaderboard/AddComment" method="post" class="game-end-form">
            <input type="text" name="player" placeholder="Name" required maxlength="20" />
            <textarea name="text" required></textarea>
            <button type="submit" class="button-new">Add comment</button>
        </form>
    </section>
    <section class="card">
        <h2>User Rating</h2>
        <ul>
            @foreach (var rating in Model.Ratings)
            {
                <li class="rating-item">
                    <div>
                        @rating.Player
                    </div>
                    <div>
                        @rating.Value
                    </div>
                </li>
            }
        </ul>
        <form action="/Leaderboard/AddRating" method="post" class="game-end-form">
            <input type="text" name="player" placeholder="Name" required maxlength="20" />
            <input type="number" name="value" placeholder="Rate 1-10" min="1" max="10" required />
            <button type="submit" class="button-new">Add Rating</button>
        </form>
    </section>
    
    <section class="card">
        <h2 class="text-center mb-0">Game Rating: @Model.FinalRating</h2>
    </section>
</main>

